
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
<!------ Include the above in your HEAD tag ---------->
<br>
<hr>
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="{% url 'registro'%}" class="btn btn-primary btn-xs pull-right"><b>+</b>Agregar nuevo usuario</a>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        {%for u in usuarios%}
            <tr>
                <td>{{u.id}}</td>
                <td>{{u.nombre}}</td>
                <td>{{u.rut}}</td>
                <td>{{u.telefono}}</td>
                <td>{{u.email}}</td>
                <td>{{u.contraseña}}</td>

                <td class="text-center">
                <a class='btn btn-info ' href=""><span class="glyphicon glyphicon-edit"></span> Editar</a> 
                <a href="{% url 'borrarusuario' u.email%}" class="btn btn-danger "><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
            </tr>
        {%endfor%}    
    </table>
    </div>
</div>
