
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br>
<hr>
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
    <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        {%for u in usuarios%}
            <tr>
                <td>{{u.id}}</td>
                <td>{{u.nombre}}</td>
                <td>{{u.rut}}</td>
                <td>{{u.telefono}}</td>
                <td>{{u.email}}</td>
                <td>{{u.contraseña}}</td>

                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
        {%endfor%}    
    </table>
    </div>
</div>
