{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}



  <h1>Inicia Sesión</h1><br>
  <div class="container">
    <form method="GET" name="iniciarsesion" >
        <div class="form_group">
        <label for="email">Email</label>
        <input type="email"class="form_control" name="email" id="email" placeholder="@gmail.com"/>
        </div>
        <div class="form_group">
          <label for="password">Contraseña:</label>
          <input type="password" class="form_control"name="password" id="password" placeholder="Escribe tu contraseña"/>
        </div>
        <input type="submit" value="Enviar" id="btnvalida"/> <br>
        <input type="reset" value="Limpiar" class="btn btn-info"/>
      </div>
    </form>
</div>

    <hr>
    <script src="{% static 'app/js/iniciarsesion.js' %}"></script>
    
{% endblock contenido %}
