{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}


<link rel="stylesheet" href="{% static 'app/css/index.css' %}">

<h1>PINTURAS </h1>
  <hr>
<body>
  <div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'app/img/pinturas/pinturanocheestrellada.jpg' %}" alt="cuadro de la noche estrellada">
        <div class="card-body">
          <h5 class="card-title">La noche estrellada</h5>
          <p class="card-text">Replica echo a base de óleo sobre lienzo del pintor <br>
            AUTOR: Rogelio Morales <br>
            Dimensiones (cm): 40 x 60 <br>
            TÉCNICA: Óleo sobre lienzo</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'app/img/pinturas/pinturaaves.jpg'%}" class="card-img-top" alt="pintura al óleo de árboles">
        <div class="card-body">
          <h5 class="card-title">Pintura en acuarelas</h5>
          <p class="card-text">Replica echa con acuarelas sobre papel <br>
            AUTOR: José Bobadilla <br>
            Dimensiones (cm): 40 x 50 <br>
            TÉCNICA: Acuarelas</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'app/img/pinturas/pinturaoleo.jpg' %} " class="card-img-top" alt="pintura al oleo">
        <div class="card-body">
          <h5 class="card-title">Pintura al óleo</h5>
          <p class="card-text">Replica echo a base de óleo sobre lienzo <br>
            AUTORA: Marcela Alvarez <br>
            Dimensiones (cm): 40 x 70 <br>
            TÉCNICA: Óleo sobre lienzo</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'app/img/pinturas/pinturaacrílica.jpg' %} " alt="pintira acrílica de mar">
        <div class="card-body">
          <h5 class="card-title">Pintura en Acrílica</h5>
          <p class="card-text">Replica echo a base de pintura acrílica sobre papel<br>
            AUTOR: Arnaldo Sanchez <br>
            Dimensiones (cm): 50 x 50 <br>
            TÉCNICA: Acrílico</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  <hr>
{% endblock contenido %}