{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}

  
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/index.css' %}">

{% endblock css %}
  <h1>Registrarse</h1><br>
  <div class="container">
    <form method="GET" name="registro">
        
          <div class="form_group">
          <label for="name"> Nombre completo:</label>
          <input type="text" class="form_control"name="name" id="name" placeholder="Escriba su nombre completo"/>
          </div>
          
          <div class="form_group">
            <label for="rut">Ingresa tu rut:</label>
            <input type="text" class="form_control"name="rut" id="rut" placeholder="xxxxxxxx-x"/>
            </div>
          <div class="form_group">
          <label for="ciudad">Ciudad</label>
          <input type="text"class="form_control" name="ciudad" id="ciudad" placeholder="Santiago"/>
          </div>

          <div class="form_group">
          <label for="email">Email</label>
          <input type="email"class="form_control" name="email" id="email" placeholder="@gmail.com"/>
          </div>

          <div class="form_group">
          <label for="telefono">Telefono</label>
          <input type="number" class="form_control"name="telefono" id="telefono" placeholder="+56931189636"/>
          </div> 

          <div class="form_group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form_control"name="password" id="password" placeholder="Escribe tu contraseña"/>
          </div>

          <input type="submit" value="Enviar" id="btnvalida"/> <br>
          <input type="reset" value="Limpiar" class="btn btn-info"/>
    </form>
  </div>

    <hr>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/registro.js' %} "></script>

{% endblock contenido %}