{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}

<link rel="stylesheet" href="{% static 'app/css/index.css' %}">


  <h1>Registrarse</h1><br>
  <div class="container">
    <form method="POST" name="registro">
    {% csrf_token %}
        
          <div class="form_group">
          <label for="name"> Nombre completo:</label>
          {{form.nombre}}
          </div>
          
          <div class="form_group">
            <label for="rut">Ingresa tu rut:</label>
            {{form.rut }}
            </div>

          <div class="form_group">
          <label for="email">Email</label>
          {{form.email}}
          </div>

          <div class="form_group">
          <label for="telefono">Telefono</label>
          {{form.telefono}}
          </div> 

          <div class="form_group">
            <label for="password">Contraseña:</label>
            {{form.contraseña }}
          </div>

          <input type="submit" value="Enviar" id="btnvalida"/> <br>
          <input type="reset" value="Limpiar" class="btn btn-info"/>
    </form>
  </div>

    <hr>

    <script src="{% static 'app/js/registro.js' %} "></script>

{% endblock contenido %}
